@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.jumbotron {
  color: rgba(238, 238, 238, 1.0);
  background-color: rgb(74, 74, 74);
}

.progress-bar {
  background-color: rgb(7, 106, 153);
}

.btn {
  min-height: 34px;
}

.todo-text-body {
  line-height: 34px;
}

.tasks {

  li {
    min-height: 44px;
    margin: 4px 0;
    padding: 4px;

    &:hover {
      background-color: rgba(7, 106, 153, .05);
    }

    .btn {
      float: right;
    }
  }
}

input[type=checkbox] {
  position: relative;
  top: 2px;

  margin-top: 0;
  margin-right: 15px;
  padding: 14px;

  cursor: pointer;
  vertical-align: middle;

  border: 2px solid rgba(182, 182, 182, 1.0);
  border-radius: 3px;
  outline: none;
  outline-width: 0;
  background-color: rgba(250, 250, 250, 1.0);
  box-shadow: inset 0 -15px 10px -12px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .05);

  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &:checked {
    color: rgba(153, 161, 167, 1.0);
    border: 2px solid rgba(124, 232, 151, 1.0);
    outline: none;
    background-color: rgba(124, 232, 151, 1.0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);

    -webkit-appearance: none;

    &:after {
      font-size: 36px;

      position: absolute;
      top: -12px;
      left: 5px;

      content: '\2714';
      -webkit-transition: all .2s cubic-bezier(0, 1.6, 1, 1.3);
         -moz-transition: all .2s cubic-bezier(0, 1.6, 1, 1.3);
           -o-transition: all .2s cubic-bezier(0, 1.6, 1, 1.3);

      color: rgba(255, 255, 255, 1.0);
      text-shadow: 0 0 3px rgba(0, 0, 0, 1.0);
    }
  }

  &:after {
    font-size: 20px;

    position: absolute;
    top: 2px;
    left: 7px;

    content: '\2714';
    -webkit-transition: all .07s ease-in-out;
       -moz-transition: all .07s ease-in-out;
         -o-transition: all .07s ease-in-out;

    color: rgba(204, 204, 204, 1.0);
    outline: none;
  }
}
