<!DOCTYPE html>
<html ng-app='todo'>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1>
      Todo List
    </h1>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
